<!-- Employee List-->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Directive Example</h1>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <table class="table table-bordered table-striped">
                <!-- Table Heading-->
                <tr>
                    <th>Index</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                </tr>
                <!-- Looping through employee object-->
                <tr *ngFor= let emp of employees; let i=index">
                    <td [ngStyle]="{color:i%2 ?'green':'red'">
{{i+1}}</td>
                   <td> {{emp.FirstName}}</td>
                   <td>{{emp.LastName}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>